# API
VITE_API_URL=http://localhost:8090

# Monitoring tools
VITE_FLOWER_URL=http://localhost:5555
VITE_REDIS_COMMANDER_URL=http://localhost:8081
VITE_JUPYTER_URL=http://localhost:8888?token=mlproject